# Mac Finder
.DS_Store

# Maven
target/

# Java
*.class

# Package
*.jar
*.war
*.ear

# IDE
.classpath
.project
.settings/
.idea/
*.iml
.externalToolBuilders

# Spring
.springBeans

# Testing
test-output

# logging
logs